---
import Giscus from "@giscus/react";
import config from "@shConfig";
import { Skeleton } from "@ui/skeleton";
import { Separator } from "@ui/separator";

const GISCUS_ENABLED = config.behavior.commentConfig.enableComment === "Giscus";
const GISCUS_CONFIG = config.behavior.commentConfig.giscusConfig;
const UTTERANCES_ENABLED = config.behavior.commentConfig.enableComment === "Utterances";
const UTTERANCES_CONFIG = config.behavior.commentConfig.utterancesConfig;
const COMMENT_DISABLED = config.behavior.commentConfig.enableComment === "None";

// Đã loại bỏ đoạn fetch GitHub API ở đây để tăng tốc độ load trang trong chế độ Dev
---

{ !COMMENT_DISABLED && (<div id="comment-sep" class="my-10"><Separator client:load /></div>) }

{
  GISCUS_ENABLED && (
    <Giscus
      id="comments"
      repo={GISCUS_CONFIG.repo}
      repoId={GISCUS_CONFIG.repoId}
      category={GISCUS_CONFIG.category}
      categoryId={GISCUS_CONFIG.categoryId}
      mapping={GISCUS_CONFIG.mapping}
      strict={GISCUS_CONFIG.strict}
      reactionsEnabled={GISCUS_CONFIG.reactionsEnabled}
      emitMetadata={GISCUS_CONFIG.emitMetadata}
      inputPosition={GISCUS_CONFIG.inputPosition}
      theme={GISCUS_CONFIG.theme}
      lang={GISCUS_CONFIG.lang}
      loading="lazy"
      client:only="react"
    >
      <div slot="fallback">
        <Skeleton />
      </div>
    </Giscus>
  )
}

{
  UTTERANCES_ENABLED && (
    <div id="comments" />
    <style>
      .utterances {
        max-width: none;
      }
    </style>

    <script is:inline define:vars={{ UTTERANCES_CONFIG }}>
      const script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "https://utteranc.es/client.js";
      script.setAttribute("repo", UTTERANCES_CONFIG.repo);
      script.setAttribute("issue-term", UTTERANCES_CONFIG.issueTerm);
      script.setAttribute("label", UTTERANCES_CONFIG.label);
      script.setAttribute("theme", UTTERANCES_CONFIG.theme);
      script.setAttribute("crossorigin", "anonymous");
      script.async = true;
      document.querySelector("#comments")?.appendChild(script);
    </script>
  )
}