---
import FriendsGrid from "@components/content/Friends/FriendsGrid.astro";
import Hero from "@components/content/Home/Hero.astro";
import { HeroTitle, HeroSubtitle } from "@components/content/Home/HeroItems";
import BaseLayout from "@/layouts/BaseLayout.astro";
import BaseMainContent from "@/layouts/BaseMainContent.astro";
import Sidebar from "@components/Sidebar.astro";
import config from "@shConfig";
---

<BaseLayout
  title={config.pages.other.friends.title}
  description={config.pages.other.friends.subTitle}
  coverImage={config.pages.other.friends.heroImage}
>
  <Hero>
    <div class="lg:col-span-2" slot="left">
      <HeroTitle>{config.pages.other.friends.title}</HeroTitle>
      <HeroSubtitle slot="right">
        {config.pages.other.friends.subTitle}
      </HeroSubtitle>
    </div>
  </Hero>
  <BaseMainContent>
    <div class="flex-1" transition:name="main-content">
      <FriendsGrid />
    </div>

    <!-- Sidebar -->
    <aside class="hidden shrink-0 lg:block lg:w-[300px] xl:w-[380px]">
      <Sidebar />
    </aside>
  </BaseMainContent>
</BaseLayout>
