---
import { Hash } from "lucide-react";
import { Badge } from "@ui/badge";

interface Props {
  postData: any;
  postTags: string[];
}

const { postData, postTags } = Astro.props;
const postUrl = `/${postData.collection}/${postData.id}/`;
---

<a
  href={postUrl}
  class="group flex items-center gap-3 transition-all" 
>
  {/* Thu nhỏ font title xuống text-base hoặc text-sm để cân đối với dòng log */}
  <h3
    class="text-sm font-bold text-gray-900 transition-colors group-hover:text-green-500 dark:text-white whitespace-nowrap"
  >
    {postData.data.title}
  </h3>

  <div class="flex items-center gap-1.5">
    {
      postTags.map((t: string) => (
        <Badge
          variant="secondary"
          className="px-2 py-0.5 text-[10px] h-5 hover:bg-secondary/90 transition-all flex items-center gap-0.5 border-[#30363d] bg-[#21262d] text-[#8b949e]"
          client:only
        >
          <Hash size={10} strokeWidth={3} />
          {t}
        </Badge>
      ))
    }
  </div>
</a>